<form class="my-10 space-y-6" (ngSubmit)="onSubmit()">
  <div class="text-center">
    <h2 class="text-foreground mb-1 text-3xl font-semibold">Ingresa una contraseña nueva</h2>
    <p class="text-muted-foreground text-sm">
      Ya estableciste tu nueva contraseña? <a class="text-primary" routerLink="/auth/sign-in"> Entrar</a>
    </p>
  </div>

  <div class="space-y-3 text-left">
    <div class="relative">
      <input
        type="password"
        id="password"
        class="peer block"
        placeholder=" "
        [(ngModel)]="password"
        name="password"
        required
      />
      <label
        for="password"
        class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">
        Contraseña
      </label>
    </div>

    <div class="relative">
      <input
        type="password"
        id="confirm-password"
        class="peer block"
        placeholder=" "
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
      />
      <label
        for="confirm-password"
        class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">
        Confirmar contraseña
      </label>
    </div>
  </div>

  <div>
    <button
      type="submit"
      class="w-full bg-primary text-white rounded-md py-2 font-semibold hover:opacity-90 transition"
    >
      Confirmar
    </button>
  </div>
</form>
